<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adisak</title>
</head>

<body>
    <img src="https://avatars3.githubusercontent.com/u/8997977?s=460&u=0b4577c5dc628cba6a22aff47e6847661fe88bac&v=4" />
    <h1>Adisak Amornsak</h1>
    <h3>Email: adisak.amo@pea.co.th</h3>
    <h3>สังกัด: ผสบ.กรท.ฝบพ.น.1</h3>
    <div>
        <h3>ประสบการณ์ทำงาน</h3>
        <ul>
            <li>RMUTL - 1 ปี</li>
            <li>Double A - 3 ปี</li>
            <li>PEA - 4 ปี</li>
        </ul>
    </div>
    <div>
        <h3>ทักษะ Programming</h3>
        <ol>
            <li>C# (ASP.NET)</li>
            <li>SQL (MSSQL/MySQL/PostgreSQL)</li>
            <li>JS Framework (Angular)</li>
        </ol>
    </div>
</body>

</html>