<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiyaporn</title>
</head>
<body>
    <img src="../assets/nong(1).png" alt="">
    <h1>Chaiyaporn Mahanitipong</h1>
    <h3>Email: chaiporn.mah@pea.co.th</h3>
    <h3>สังกัด: กฟส.เขมราฐ</h3>
    <div>
        <h3>ประสบการณ์ทำงาน</h3>
        <ul>พนักงานช่างไฟฟ้าระดับ 4</ul>
    </div>
    <div>
        <h3>ทักษะ Programming</h3>
        <ul>HTML</ul>
        <ul>PHP</ul>
        <ul>Mysql</ul>
    </div>
</body>
</html>