<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirut</title>
</head>

<body>
    <img src="../assets/014.png" alt="" width="30%" height="30%">
    <h1>Nirut Visuttichai</h1>
    <h3>Email:chocoball.nirut@gmail.com</h3>
    <h3>สังกัด</h3>
    <div>
        <h3>ประสบการณ์ทำงาน</h3>
        <ul>
            <li>DotA</li>
        </ul>

    </div>
    <div>
        <h3>ทักษะ Programming</h3>
        <ol>
            <li>Python</li>
        </ol>
    </div>
</body>

</html>