<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noppanut Wapee</title>
</head>
<body>
    <img src="/Users/noppanutwapee/Desktop/PEA-Blockgeeks-JS/assets/Screen Shot 2563-03-26 at 20.53.25.png" alt="Italian Trulli">
    <h1>Noppanut Wapee</h1>
    <h3>Email: Machanics.02@gmail.com</h3>
    <h3>สังกัด:</h3>
    <ul>ผบค. กฟจ.มห. กฟฉ.2(ภ2) </ul>
    <div>
        <h3>ประสบการณ์ทำงาน</h3>
        <ul>1.Italthai Engineering</ul>
        <ul>2.Thaitobacco </ul>
        <ul>3.PEA (Current)</ul>
    </div>
    <div>
        <h3>ทักษะ Programming</h3>
        <ol>
        <li>Python</li>
        <li>C</li>
        </ol>
        </div>
        
    </body>
</html>
