<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panuwit</title>
</head>

<body>
    <h1>Panuwit Thaneewat</h1>
    <h3>Email: panuwit.tha@pea.co.th</h3>
    <h3>สังกัด: ผปค.กรท.ฉ.2</h3>
    <div>
        <h3>ประสบการณ์ทำงาน</h3>
        <ul>สังกัด ผปค. มา 3 ปี</ul>
    </div>
    <div>
        <h3>ทักษะ Programming</h3>
        <ol>
            <li>HTML5</li>
            <li>PHP</li>
            <li>SQL</li>
            <li>JS (basic)</li>
            <li>C# .Net</li>
            <li>python (basic)</li>
        </ol>
    </div>
</body>

</html>