<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Promrop_Doy</title>                
    <script src="index.js"></script>

    
</head ส่วนหัวของ wed>    
</head>
<body>
    <div class="header">
        </head><img src="..\view\050.jpg" alt="">
        <h1>นาย พร้อมรบ  คำธาร</h1>
        <li>รหัส 503858</li>
    </div>
    <div>
        <h2>Email</h1>
        <li><a class="Promrob.kam@pea.co.th" href="Promrob.kam@pea.co.th">Promrob.kam@pea.co.th</a></li>
        <li><a class="Promrop.kh@gmail.com" href="Promrop.kh@gmail.com">Promrop.kh@gmail.com</a></li>
        <li><a class="Promrop.doy@hotmail.com" href="Promrop.doy@hotmail.com">Promrop.doy@hotmail.com</a></li>
        <li>Tell : 084-901-4130</li>
    </div>
        <h2>สังกัด</h1>
        <li>แผนก จัดการงานสถานีไฟฟ้า </li>
        <li>ฝปบ.กปบ.น.1</li>
    </div>
    <div>       
        <h2>ประสบการทำงาน</h1>
        <li>2558-2559   พนักงานช่างระดับ 3 (แก้กระแสไฟฟ้าขัดข้อง) ผปบ.กฟอ.สันทราย </li>
        <li>2559-2560   พนักงานช่างระดับ 3 (สั่งการแก้กระแสไฟฟ้าขัดข้อง : E/O) ผปบ.กฟอ.สันทราย</li>
        <li>2560-2561   วิศวกรระดับ 4  ผรศ.กปบ.ฝปบ.น.1</li>
        <li>2561-ปัจจุบัน  วิศวกรระดับ 4  ผจฟ.1.กปบ.ฝปบ.น.1</li>

    <div>
        <h2>ทักษะ Programing</h2>
        <ul>
            <li><a class="navbar-brand" href="https://th.wikipedia.org/wiki/ภาษาซี">ภาษา C</a></li>
            <li><a class="navbar-brand" href="https://th.wikipedia.org/wiki/ภาษาไพทอน">Python</a></li>   
        </ul>
    </div>
</body>
</html>
