<!DOCTYPE html>
<html lang="en">

  <title>Sanga Ad Hoc 1 S-SRA</title>

<head>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets_sanga/ihub.jpg">

</head>

<body>
    <div>
        <ul>
        <img src="../assets_sanga/sanga.jpg">
            <BODY BGCOLOR="#DCDCDC"> 
                <BODY BACKGROUND="/assets_sanga/photo.jpg">

        <FONT Face="Georgia" size="5" color="#CC0066"</Font>  
            <h1>Sanga Sisot</h1>
            <h2 class="text-success">Email: sanga.sis@pea.co.th</h2>
        </ul>
    </div>  
    <div>
        <FONT Face="Impact" size="5" color="#CC0099"</Font>  
        <h3 class="p-3 mb-2 bg-primary text-white">สังกัด</h3>
        <ul class="navbar-brand">ผบต.กฟส.นอก.กฟอ.นร.กฟฉ.3 ภ.2</ul>
    </div>
    <div>
        <FONT Face="Impact" size="5" color="#CC00CC"</Font>     
        <h3 class="p-3 mb-2 bg-secondary text-white">ประสบการณ์การทํางาน</h3>
        <ul>
            <li><a class="navbar-brand">SCG ปี 2558-2560</a></li>
            <li><a class="navbar-brand">PEA ปี 2561-ปัจจุบัน</a></li>
        </ul>
    </div>
    <div>
        <FONT Face="Impact" size="5" color="#CC00FF"</Font> 
    <h3 class="p-3 mb-2 bg-success text-white">ทักษะ Programming</h3>
    <ol>
        <li><a class="navbar-brand">Ladder Logic</a></li>
    </ol>
</div>

</body>
</html>