<body>
    <img src="../assets/mypic2.jpg"width="300" alt="  ">
    <h1 style="color:Tomato;">Weerachat Khuleedee</h1 style="color:Tomato;">
    <h3 style="color:rgb(19, 81, 143);">Email: weerachat.khu@pea.co.th</h3 style="color:DodgerBlue;">
    <h3 style="color:rgb(17, 148, 76);">สังกัด:</h3style="color:Tomato;">
    <li>แผนกแผนธุกิจ</li>
    <li>กองบริการลูกค้า</li>
    <li>ฝ่ายวิศวกรรมและบริการ</li>
    <li>การไฟฟ้าส่วนภูมิภาคเขต 1 ภาคตะวันออกเฉียงเหนือ(จ.อุดรธานี)</li>
    <div>
    <h3>ประสบการณ์ทำงาน</h3>
    <ul>
    <li>2551-2553 วิศวกร แผนกบริการลูกค้า กฟจ.บึงกาฬ</li>
    <li>2553-2555 วิศวกร แผนกบำรุงรักษาและงานฮอทไลน์ ฝ่ายวิศวกรรมและบริการ</li>
    <li>2555-2558 วิศวกร แผนกธุรกิจและการตลาด กองบริการลูกค้า</li>
    <li>2558-2562 วิศวกร แผนกแผนธุรกิจ กองบริการลูกค้า</li>
    <li>2562-ปัจจุบัน ผู้ช่วยหัวหน้าแผนกแผนธุรกิจ กองบริการลูกค้า</li>
    </ul>
    
    </div>
    <div>
    <h3>ทักษะ Programming</h3>
    <ol>
    <li>Visual Basic</li>
    <li>C++</li>
    <li>Macro Excel</li>
    <li>Basic html</li>
    <li>Basic Python(Anaconda)</li>
    </ol>
    </div>
    
   </body>