<body>
    <img src="../assets/mypic2.jpg"width="300" alt="  ">
    <h1>Weerachat Khuleedee</h1>
    <h3>Email: weerachat.khu@pea.co.th</h3>
    <h3>สังกัด:</h3>
    <li>แผนกแผนธุกิจ</li>
    <li>กองบริการลูกค้า</li>
    <li>ฝ่ายวิศวกรรมและบริการ</li>
    <li>การไฟฟ้าส่วนภูมิภาคเขต 1 ภาคตะวันออกเฉียงเหนือ(จ.อุดรธานี)</li>
    <div>
    <h3>ประสบการณ์ทำงาน</h3>
    <ul>
    <li>วิศวกร แผนกบริการลูกค้า กฟจ.บึงกาฬ</li>
    <li>วิศวกร แผนกบำรุงรักษาและงานฮอทไลน์ ฝ่ายวิศวกรรมและบริการ</li>
    <li>วิศวกร แผนกธุรกิจและการตลาด กองบริการลูกค้า</li>
    <li>ผู้ช่วยหัวหน้าแผนกแผนธุรกิจ กองบริการลูกค้า</li>
    </ul>
    
    </div>
    <div>
    <h3>ทักษะ Programming</h3>
    <ol>
    <li>Visual Basic</li>
    <li>C++</li>
    <li>Macro Excel</li>
    <li>Basic html</li>
    <li>Basic Python(Anaconda)</li>
    </ol>
    </div>
    
   </body>